html, body {
	padding: 0;
	margin: 0;
	font-family: Avenir Next, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
	height: 90px;
}

header > img{
	height: 60px;
	padding: 15px 20px;
}

header > a {
	position: absolute;
	top: 23px;
	right: 20px;
	padding: 12px 20px;
	background-color: #28ADCA;
	color: #ffffff;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 600;
}

.break {
	background-color: #cf2c2b;
}

footer {
	padding-top: 2em;
}

footer h1 {
	z-index: 1000;
}

.containter {
	max-width: 900px;
	margin: auto;
}

section {
	padding: 5em 1em;
	clear: both;
	text-align: center;
	font-size: 1.25em;
}

section h1{
	text-align: center;
	font-size: 1.75em;
}

section h2 {
	line-height: 1;
}

blockquote {
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 1.4em;
}

.social
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: 150px;
	margin: auto;
}

.user1 {
	background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg);
}

.user2 {
	background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg);
}

.user3 {
	background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg);
}

.twitter {
	color: #28ADCA;
}

.step, .testimony {
	background-color: rgba(40,173,202,0.2);
	padding: 3em;
/*	border: #28ADCA solid;*/
	border-radius: 4px;
	max-width: 600px;
	margin: 20px auto;
}

.testimony {
	background-color: rgba(200,200,200,0.1);
	padding: 0em;
	width: 30%;
	display: inline-block;
	margin: 20px 0px;
	float: none;
	clear: none;
}

.testimonies {
	margin: 0 auto;
}

.button {
	padding: 1em;
	display: block;
	background-color: #28ADCA;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	max-width: 300px;
	margin: 40px auto;
	
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s; }

.grid figure h1 {
	font-size: 4em;
	margin: 0;
	padding: 20vh 0em 0em 0em;
	letter-spacing: -2px;
}

.grid {
	position: relative;
	margin: 0;
	list-style: none;
	text-align: center;
	float: none;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
/*	min-height: 410px;*/
	max-height: 80vh;
	width: 100%;
	background: #3f7cac;
	text-align: center;
}

.grid figure img, .grid figure video {
	position: relative;
	display: block;
	min-height: 100%;
/*	max-width: 100%;*/
	opacity: 1;
}

.grid figure figcaption {
	color: #FFFFFF;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	font-size: 1.6em;
	font-weight: 700;
	padding: 1em;
	margin: 1em;
	background-color: #28ADCA;
	border-radius: 5px;
	color: #ffffff;
	opacity: 1;
	display: inline-block;
	text-decoration: none;
}

.grid figure h3 {
	word-spacing: 0;
	font-weight: 600;
	font-size: 2em;
	margin: 0 auto;
	max-width: 800px;
	color: #FFF;
}

/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	background: #222;
}

figure.effect-sarah img, figure.effect-sarah video {
	max-width: none;
	width: -webkit-calc(100% + 300px);
	width: calc(100% + 300px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0.1;
}

figure.effect-sarah img, figure.effect-sarah video {
	opacity: 0.6;
}

figure.effect-sarah figcaption {
	text-align: center;
}

figure.effect-sarah img {
}


@media screen and (min-width: 66em) {

	.grid figure h1 {
		font-size: 7em;
	}
}

@media screen and (max-width: 66em) {

	.grid figure {
		width: 100%;
	}
	
	.grid figure h3 {
		padding: 1em;
	}
	
		.testimony {
		width: 100%;
	}
	
}

@media screen and (max-width: 76em) {

	.grid figure h1 {
		padding-top: 20vh;
	}
}

@media screen and (max-width: 44em) {

	.grid figure {
		float: none;
		margin: 0px auto;
		width: 100%;
	}
	
	.grid figure h1 {
		font-size: 2.7em;
		padding-top: 18vh;
	}
	
	.grid figure h3 {
		font-size: 1.5em;
		padding: 1em;
	}
	
	.grid figure figcaption > a {
	font-size: 1.2em;
	font-weight: 700;
	padding: 1em;
	margin: 0em;
	}
	
	.grid figure video, figure.effect-sarah video {
		display: none;
	}
	
	figure.effect-sarah img {
	display:block;
	height: 100%;	
	}
	
	.testimonies div:last-child {
	display: none;
	}
	
	
}
